<div class='home-container'>
    <div class='home-header border-radius'>
        <div class="home-title center">
            Add
            <input type="number" min="0.01" step="0.01" matInput placeholder="$20">
            expense for <input type="text" matInput placeholder="Gorceries">
        </div>
    </div>
    <div class='home-header border-radius'>
        <div class="home-title center">
            Add
            <input type="number" min="0.01" step="0.01" matInput placeholder="$20">
            savings for <input type="text" matInput placeholder="Education">
        </div>
    </div>
    <div class='home-header border-radius'>
        <div class="home-title center">
            Add income of
            <input type="number" min="0.01" step="0.01" matInput placeholder="$20,000">
        </div>
    </div>
    <div class='home-header border-radius'>
        <div class="home-title center">
            Edit entry for id: 
            <input type="number" min="0" step="1" matInput placeholder="#id 1234">
            to
            <input type="number" min="0.01" step="0.01" matInput placeholder="$20">
        </div>
    </div>
</div>