<div class="toolbar" role="banner">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Finalysis</span>
      <div class="nav-spacer">
        <button mat-stroked-button class="nav-item" color="accent">Table</button>
        <button mat-stroked-button class="nav-item" color="accent">Balance Sheet</button>
        <button mat-stroked-button class="nav-item" color="accent">Graphs</button>
        <button mat-stroked-button class="nav-item" color="accent">Chart</button>
        <button mat-stroked-button class="nav-item" color="accent">Feasibility Analysis</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>