<div class='profile-container'>
    <div class='profile-header border-radius'>
        <div class="profile-title center">
            <div><h1 class='header'>My finance dashboard</h1></div>
            <div><p class='sub-header'>Welcome to finalysis portal</p></div>
        </div>
        <div class="profile-showcase">
            <img src="https://i.kinja-img.com/gawker-media/image/upload/gd8ljenaeahpn0wslmlz.jpg" class="image-profile">
            <p class='sub-header'>Hello, Bhimesh!</p>
            <mat-icon aria-hidden="false" aria-label="keyboard_arrow_down" class="cursor-hand">
                keyboard_arrow_down
            </mat-icon>
        </div>
    </div>
    <div class='profile-information border-radius'>
        <div class='profile-card border-radius'>
            <div class='profile-pic'>
                <img src="https://i.kinja-img.com/gawker-media/image/upload/gd8ljenaeahpn0wslmlz.jpg" class="image-profile border-radius">
            </div>
            <div class='profile-info-spec'>
                <div class='heading'>
                    <h1>
                        My profile
                    </h1>
                </div>
                <div class='info'>
                    <p>Last login 07 Aug, 2020 14:54</p>
                    <p>Wednesday 10 PM ET New York (US)</p>
                </div>
            </div>
            <div class='contact-info'>
                <div class='email'>
                    <p>bhimeshchauhan@gmail.com</p>
                </div>
                <div class='phone'>
                    <p>+1 515-708-1186</p>
                </div>
            </div>
        </div>
        <div class='profile-details'>
            <div class='profile-page border-radius'>
                <div class="header">
                    <h3> My account usage</h3>
                </div>
            </div>
            <div class='profile-usage border-radius'>
                <div class="header">
                    <h3> My connected apps</h3>
                </div>
                <div class='profile-app'>
                    <div class='app-info'>
                        <div class='app'>
                            <p>Google docs</p>
                        </div>
                        <div class='status'>
                            <p>connect</p>
                        </div>
                    </div>
                    <div class='app-info'>
                        <div class='app'>
                            <p>Google Sheet</p>
                        </div>
                        <div class='status active'>
                            <p>active</p>
                        </div>
                    </div>
                    <div class='app-info'>
                        <div class='app'>
                            <p>IFTTT</p>
                        </div>
                        <div class='status'>
                            <p>connect</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>